<app-nav-bar></app-nav-bar>
<br>
<div class="container">
  <table class="table table-bordered table-color">
    <thead>
    <tr>
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Cost</th>
      <th>pnl</th>
      <th>Close Position</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of liveData">
      <td>{{row['symbol'] ? row['symbol'] : ''}}</td>
      <td>{{row['quantity'] ? row['quantity'] : ''}}</td>
      <td id="{{row['symbol']+'-'+row['tradeid']}}">{{row['price']}}</td>
      <td>{{row['quantity'] * row['price']}}</td>
      <td id="pnl-{{row['symbol']}}-{{row['quantity'] * row['price']}}-{{row['quantity']}}">{{row['PNL'] ? row['PNL'] : ''}}</td>
      <td><a class="addStyle" style="text-decoration: underline; color: blue" (click)="onClosePortFolio(row)">close</a></td>
    </tr>
    </tbody>
  </table>
</div>
